
@import "../../colors.scss";
.css-16k4q1o-JoyDrawer-content{
    background-color: $dark-main-color !important;
    padding: 0.5rem;
    gap: 1rem;
    
}
.css-qblkrs-JoyDrawer-root{
    --Drawer-horizontalSize: clamp(350px, 30%, 100%) !important;
}

.css-1jw7p1f-JoyDrawer-content{
    background-color: $dark-main-color !important;
}
