
@import "../../colors.scss";


.profile_button{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 40px;
    border-radius: 50%;
  }
}
  
.mobileMenuCloseBtn{
  background-color: $dark-light-color;
}
.mobileMenuCloseBtn:hover{
  transition: 0.3s ease-in-out;
  background-color: $dark-extra-light-color !important;
}