@import "../../../colors.scss";

.searchBox{
    width: 350px;
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid $dark-extra-light-color;
    
   
    color: #fafafa;
    font-weight: 600;
    font-size: 16px;
    font-family: "Nunito";
    background-color:$dark-light-color;
    font-weight: 400;
}
.searchBox:focus{
    outline: 1px solid $dark-notification-color;
}