@import "../../colors.scss";
body{
  background-color: $dark-main-color ;
}


.main_dashboard {
  background-color: $dark-main-color ;

  position: sticky;
  top: 0;
  margin-top: 0.5rem;
 
  height: 100vh;
  display: flex;
  padding: 0 2rem;
  gap: 2rem;

  .left_dashboard {

   
   height: 100%;
    
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
    
  }
  .left_dashboard::-webkit-scrollbar {
    display: none; 
}
.middle_dashboard::-webkit-scrollbar {
  display: none; 
}
.right_dashboard::-webkit-scrollbar {
    display: none; 
}
  .middle_dashboard {
    padding-bottom: 1rem;
    position: relative;
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
  }
  .right_dashboard {
    height: 100%;
    // border: 1px solid blue;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
  }
}




@media (max-width:600px){

  .left_dashboard,.right_dashboard{
    display: none !important;
  }
  .middle_dashboard{
    width: 100% !important;
  }
  .main_dashboard{
    padding: 0 1rem;
  }
}

@media (max-width:450px){

  .main_dashboard{
    padding: 0 0.8rem;
  }


}