.small_profile_container {
  width: 100%;
  min-height: 390px;
  background-color: #1a2730;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.small_profile_container .cover-photo {
  z-index: 99;
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.small_profile_container .bottomProfileDetails {
  border-radius: 20px;
  background-color: #1a2730;
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.small_profile_container .bottomProfileDetails .profileImg_holder {
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.small_profile_container .bottomProfileDetails .profileImg_holder .maleProfile {
  width: 80px;
  border-radius: 50%;
}
.small_profile_container .bottomProfileDetails .nameUserNameBio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.small_profile_container .bottomProfileDetails .nameUserNameBio .name,
.small_profile_container .bottomProfileDetails .nameUserNameBio .bio {
  color: #DBEAEE;
}
.small_profile_container .bottomProfileDetails .nameUserNameBio .username {
  color: #DBEAEE;
  opacity: 50%;
  font-size: 14px;
}
.small_profile_container .bottomProfileDetails .nameUserNameBio .bio {
  margin-top: 0.8rem;
  color: #DBEAEE;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}
.small_profile_container .bottomProfileDetails .follow-counts {
  margin-top: 0.8rem;
  border-top: 1px solid #28353e;
  border-bottom: 1px solid #28353e;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #DBEAEE;
  padding: 15px;
}
.small_profile_container .bottomProfileDetails .follow-counts div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.small_profile_container .bottomProfileDetails .follow-counts div p {
  opacity: 50%;
}
.small_profile_container .bottomProfileDetails .follow-counts .follower {
  border-right: 1px solid #28353e;
}
.small_profile_container .bottomProfileDetails .myProfileBtn {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.small_profile_container .bottomProfileDetails .myProfileBtn a {
  text-decoration: none;
  color: #359EAB;
  font-weight: 700;
}/*# sourceMappingURL=SmallProfile.css.map */