@import "../../../colors.scss";
.postBlog_container{
   
    background-color: $dark-light-color;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 10px;
    .postBlog_top{
        
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        img{
            width: 50px;
        }
        .explore_search{
            padding: 10px 15px;
            background-color: $dark-extra-light-color;
            flex-grow: 1;
        }
        .postBtn{
            padding: 10px 30px !important;
            background-color: transparent;
            color: $dark-button-text-color;
            border: 1px solid  $dark-notification-color;

        }
        .postBtn:hover{
            background-color: $dark-notification-color; 

          
        }
    }
    .postBlog_bottom{
        display: flex;
        align-items: center;
        gap: 7px;
       
    }
}


// post button 












@media (max-width:600px){
    .postBlog_bottom{
        .roundedBox{
            width: 90px;
            span{
                display: none;
            }
        }
    }
}
@media (max-width: 450px) {
.postBlog_container{
    padding: 1rem;
    .postBlog_top{
        img {
            width: 50px;
        }
        .explore_search{
            padding: 10px 10px !important;
        }
        .postBtn{
           padding: 5px 12px !important;
        }

        
    } 
    .postBlog_bottom{
        .roundedBox{
            width: 75px;
           
        }
    }
}

    
}

