.signupFormContainer {
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #06141d;
  height: auto;
  padding: 3rem;
}
.signupFormContainer .form {
  background-color: #1a2730;
  border: 1px dotted rgba(219, 234, 238, 0.3);
  padding: 0 3rem 2rem 3rem;
  border-radius: 10px;
  width: min(550px, 95vw);
}
.signupFormContainer .form .loginLink {
  text-align: center;
  color: #DBEAEE;
}
.signupFormContainer .form .loginLink a {
  color: #359EAB;
}
.signupFormContainer .form .formTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signupFormContainer .form .formTop div {
  margin-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.signupFormContainer .form .formTop div span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px dotted rgba(219, 234, 238, 0.3);
}
.signupFormContainer .form .formTop div p {
  color: rgba(219, 234, 238, 0.3);
}
.signupFormContainer .form .heading {
  text-align: center;
  font-family: "Galada", cursive;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  color: #DBEAEE;
}
.signupFormContainer .form .spaceHeading {
  width: 100%;
  font-family: "Oregano", cursive;
  text-align: center;
  font-size: 80px;
  color: #359EAB;
}
.signupFormContainer .form .welcomeText {
  width: 100%;
  text-align: center;
  color: #359EAB;
}
.signupFormContainer .form .ant-form-item {
  margin-bottom: 12px;
}
.signupFormContainer .form .ant-form-item .ant-form-item-label label {
  font-weight: 500;
  color: #DBEAEE;
}
.signupFormContainer .form .ant-form-item .ant-input {
  background-color: transparent;
  border: 1px dotted rgba(219, 234, 238, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  color: #DBEAEE;
}
.signupFormContainer .form .ant-form-item .ant-input::-webkit-input-placeholder {
  color: #DBEAEE;
  opacity: 0.5 !important;
}
.signupFormContainer .form .ant-form-item .ant-input::-moz-placeholder {
  color: #DBEAEE;
  opacity: 0.5 !important;
}
.signupFormContainer .form .ant-form-item .ant-input:-ms-input-placeholder {
  color: #DBEAEE;
  opacity: 0.5 !important;
}
.signupFormContainer .form .ant-form-item .ant-input::-ms-input-placeholder {
  color: #DBEAEE;
  opacity: 0.5 !important;
}
.signupFormContainer .form .ant-form-item .ant-input::placeholder {
  color: #DBEAEE;
  opacity: 0.5 !important;
}
.signupFormContainer .form .ant-form-item .ant-input:focus {
  border-color: #359EAB;
}
.signupFormContainer .form .ant-form-item .ant-input-affix-wrapper {
  background-color: transparent;
  border: 1px dotted rgba(219, 234, 238, 0.3);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.signupFormContainer .form .ant-form-item .ant-input-affix-wrapper .ant-input {
  border: none;
}
.signupFormContainer .form .ant-form-item .ant-input-affix-wrapper svg {
  color: #DBEAEE;
}
.signupFormContainer .form .ant-form-item .ant-input-affix-wrapper:focus-within {
  border-color: #359EAB;
}
.signupFormContainer .form .ant-radio-wrapper span {
  text-transform: uppercase;
  color: #DBEAEE;
}
.signupFormContainer .form .formBtn {
  background-color: #359EAB;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #359EAB;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  margin-top: 10px;
}
.signupFormContainer .form .formBtn:hover {
  background-color: transparent;
  border: 1px dotted #359EAB;
}

@media (max-width: 600px) {
  .signupFormContainer {
    padding: 1rem 0;
  }
  .signupFormContainer .form {
    padding: 0 1rem 1rem 1rem;
  }
  .signupFormContainer .spaceHeading {
    font-size: 60px !important;
  }
}/*# sourceMappingURL=SignupForm.css.map */