@import "../../../colors.scss";

.feedTabs-container{
    
    width: 100%;
    .ant-tabs-nav-list{
        
        width: 100%;
        justify-content: space-between;
        .ant-tabs-tab-active{
            .ant-tabs-tab-btn{
                color:$dark-notification-color; 

             }
        }
        .ant-tabs-ink-bar{
            background: $dark-notification-color;
        }
        .ant-tabs-tab-btn{
           color: $dark-text-color; 
           font-size: 16px;
           font-weight: 600;
        }
        .ant-tabs-tab{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
           
            
        }
    }
}