.postBlog_container {
  background-color: #1a2730;
  width: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  gap: 1rem;
  color: #e66177;
}
.postBlog_container .postBlog_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
}
.postBlog_container .postBlog_top img {
  width: 50%;
  width: 50px;
}
.postBlog_container .postBlog_top .explore_search {
  padding: 10px 15px;
  background-color: #28353e;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.postBlog_container .postBlog_top .postBtn {
  padding: 10px 30px !important;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #359EAB;
}
.postBlog_container .postBlog_top .postBtn:hover {
  background-color: #359EAB;
}
.postBlog_container .postBlog_bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.postBlog_bottom {
  width: 100%;
}
.postBlog_bottom .roundedBox {
  border: 1px solid #28353e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #DBEAEE;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  padding: 7px 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.postBlog_bottom .roundedBox i {
  color: #e66177;
}
.postBlog_bottom .roundedBox:hover {
  cursor: pointer;
  background-color: #28353e;
}

.imagePreview {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}
.imagePreview img {
  width: 250px;
  border-radius: 10px;
}
.imagePreview .closeButton {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #e66177;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.imagePreview .closeButton:hover {
  background-color: #ff4d6a;
}

@media (max-width: 450px) {
  .postBlog_container {
    padding: 1rem;
  }
  .postBlog_container .postBlog_top img {
    width: 50px;
  }
  .postBlog_container .postBlog_top .explore_search {
    padding: 10px 10px !important;
  }
  .postBlog_container .postBlog_top .postBtn {
    padding: 5px 12px !important;
  }
}/*# sourceMappingURL=PostBlog.css.map */